## Análise Qui-Quadrado

## Módulos

In [4]:
import numpy as np
import pandas as pd
from scipy import stats as st

## Analises

### Teste de Aderência

In [24]:
frequencia_observada = np.array([80., 20.,	30.,	35.,	28.,	100., 150.])

In [25]:
p_esperada = np.array([0.25, 0.05, 0.10,	0.10,	0.10,	0.15, 0.25])

In [26]:
frequencia_esperada = np.sum(frequencia_observada) * p_esperada
frequencia_esperada

array([110.75,  22.15,  44.3 ,  44.3 ,  44.3 ,  66.45, 110.75])

In [27]:
st.chisquare(f_obs=frequencia_observada, f_exp=frequencia_esperada)

Power_divergenceResult(statistic=52.161775771256586, pvalue=1.730222255796706e-09)

### Teste de homogeneidade

In [54]:
dados_tratamentos = pd.read_csv('dados_tratamentos.csv', sep = ';')
dados_tratamentos.head()

   id   tratamento      evolucao
0   1      tratado      melhorou
1   2      tratado      melhorou
2   3  nao-tratado      melhorou
3   4      tratado      melhorou
4   5      tratado  nao-melhorou

In [55]:
tabela = pd.crosstab(dados_tratamentos['tratamento'], dados_tratamentos['evolucao'])
tabela

evolucao     melhorou  nao-melhorou
tratamento
nao-tratado        26            29
tratado            35            15

In [56]:
chi, p, gl, t_esp = st.chi2_contingency(tabela, correction=False)

In [57]:
chi, p

(5.556919794065845, 0.018407774251540804)

### Teste de Independência

In [59]:
dados_empresas = pd.read_csv('analise_empresas.csv', sep = ',')
dados_empresas.head()

   Empresa SaudeFin RespSocial  RespAmbiental
0        1    baixa      baixa              3
1        1    media      baixa              1
2        1    baixa       alta              3
3        1    media      baixa              2
4        1    baixa       alta              3

In [60]:
tabela = pd.crosstab(dados_empresas['SaudeFin'], dados_empresas['RespSocial'])
tabela

RespSocial  alta  baixa
SaudeFin
alta          50     40
baixa         40     20
media        100    100

In [61]:
chi, p, gl, t_esp = st.chi2_contingency(tabela, correction=False)

In [62]:
chi, p

(5.244883040935672, 0.0726253299609787)