# Análise Covid Brasil

## Carregar módulos

In [ ]:
import numpy as np
import pandas as pd

## Carregar dados

- Dados Covid Brasil

In [ ]:
! wget --no-check-certificate --content-disposition 'https://github.com/wcota/covid19br/blob/master/cases-brazil-cities-time.csv.gz?raw=true'

--2021-07-17 16:26:51--  https://github.com/wcota/covid19br/blob/master/cases-brazil-cities-time.csv.gz?raw=true
Resolving github.com (github.com)... 13.114.40.48
Connecting to github.com (github.com)|13.114.40.48|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/wcota/covid19br/raw/master/cases-brazil-cities-time.csv.gz [following]
--2021-07-17 16:26:52--  https://github.com/wcota/covid19br/raw/master/cases-brazil-cities-time.csv.gz
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-cities-time.csv.gz [following]
--2021-07-17 16:26:52--  https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-cities-time.csv.gz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 90345933 (86M) [application/octet-stream]
Saving to: ‘cases-brazil-cities-time.csv.gz’

cases-brazil-cities 100%[===================>]  86.16M   162MB/s    in 0.5s

2021-07-17 16:26:59 (162 MB/s) - ‘cases-brazil-cities-time.csv.gz’ saved [90345933/90345933]

In [ ]:
! gunzip cases-brazil-cities-time.csv.gz

In [ ]:
dados_brasil = pd.read_csv('cases-brazil-cities-time.csv')

- Dados censo

In [ ]:
dados_censo = pd.read_csv('dados_municipios_2010.csv', sep = ';', decimal = ',', encoding = 'latin1')

## Ajustar dados

In [ ]:
max_date = max(dados_brasil['date'])

In [ ]:
dados_brasil = dados_brasil[(dados_brasil['date'] == max_date) & \
                            (dados_brasil['state'] != 'TOTAL')]

In [ ]:
cols = ['ibgeID', 'date', 'state', 'city', 'totalCases', 'deaths']

In [ ]:
dados_brasil = dados_brasil[cols].reset_index(drop=True)

## Aqui começa o trabalho

## Questão 1

In [ ]:
dados_brasil.shape

(5596, 6)

In [ ]:
dados_censo.shape

(5565, 7)

## Join dos dados

- join dos dados

In [ ]:
dados_brasil_covid = dados_brasil.merge(dados_censo, how = 'left', on = 'ibgeID')

- dados sem merge

In [ ]:
dados_sem_merge = dados_brasil_covid[dados_brasil_covid.isnull().any(axis=1) == True]

In [ ]:
dados_sem_merge[['ibgeID', 'state', 'city']].drop_duplicates()

       ibgeID state                              city
434   4220000    SC               Balneário Rincão/SC
781        12    AC  CASO SEM LOCALIZAÇÃO DEFINIDA/AC
782        27    AL  CASO SEM LOCALIZAÇÃO DEFINIDA/AL
783        13    AM  CASO SEM LOCALIZAÇÃO DEFINIDA/AM
784        16    AP  CASO SEM LOCALIZAÇÃO DEFINIDA/AP
785        29    BA  CASO SEM LOCALIZAÇÃO DEFINIDA/BA
786        23    CE  CASO SEM LOCALIZAÇÃO DEFINIDA/CE
787        32    ES  CASO SEM LOCALIZAÇÃO DEFINIDA/ES
788        52    GO  CASO SEM LOCALIZAÇÃO DEFINIDA/GO
789        21    MA  CASO SEM LOCALIZAÇÃO DEFINIDA/MA
790        31    MG  CASO SEM LOCALIZAÇÃO DEFINIDA/MG
791        50    MS  CASO SEM LOCALIZAÇÃO DEFINIDA/MS
792        51    MT  CASO SEM LOCALIZAÇÃO DEFINIDA/MT
793        15    PA  CASO SEM LOCALIZAÇÃO DEFINIDA/PA
794        25    PB  CASO SEM LOCALIZAÇÃO DEFINIDA/PB
795        26    PE  CASO SEM LOCALIZAÇÃO DEFINIDA/PE
796        22    PI  CASO SEM LOCALIZAÇÃO DEFINIDA/PI
797        41    PR  CASO SEM LOCALIZAÇÃO DEFINIDA/PR
798        33    RJ  CASO SEM LOCALIZAÇÃO DEFINIDA/RJ
799        24    RN  CASO SEM LOCALIZAÇÃO DEFINIDA/RN
800        11    RO  CASO SEM LOCALIZAÇÃO DEFINIDA/RO
801        14    RR  CASO SEM LOCALIZAÇÃO DEFINIDA/RR
802        43    RS  CASO SEM LOCALIZAÇÃO DEFINIDA/RS
803        42    SC  CASO SEM LOCALIZAÇÃO DEFINIDA/SC
804        28    SE  CASO SEM LOCALIZAÇÃO DEFINIDA/SE
805        35    SP  CASO SEM LOCALIZAÇÃO DEFINIDA/SP
806        17    TO  CASO SEM LOCALIZAÇÃO DEFINIDA/TO
3101  1504752    PA               Mojuí dos Campos/PA
3587  5006275    MS              Paraíso das Águas/MS
3742  4212650    SC                 Pescaria Brava/SC
3801  4314548    RS                 Pinto Bandeira/RS

- dados sem missings

In [ ]:
dados_brasil_covid_filtrados = dados_brasil_covid[~dados_brasil_covid.isnull().any(axis=1) == True].reset_index()

## Índice de Gini

In [ ]:
def gini(array):
    """Calculate the Gini coefficient of a numpy array."""
    # based on bottom eq:
    # http://www.statsdirect.com/help/generatedimages/equations/equation154.svg
    # from:
    # http://www.statsdirect.com/help/default.htm#nonparametric_methods/gini.htm
    # All values are treated equally, arrays must be 1d:
    array = array.flatten()
    if np.amin(array) < 0:
        # Values cannot be negative:
        array -= np.amin(array)
    # Values cannot be 0:
    array += 0.0000001
    # Values must be sorted:
    array = np.sort(array)
    # Index per array element:
    index = np.arange(1,array.shape[0]+1)
    # Number of array elements:
    n = array.shape[0]
    # Gini coefficient:
    return ((np.sum((2 * index - n  - 1) * array)) / (n * np.sum(array)))

In [ ]:
dados_brasil_covid_filtrados.groupby('state')['RDPC'] \
                            .apply(lambda x: gini(x.values)) \
                            .to_frame('GINI') \
                            .reset_index() \
                            .sort_values('GINI')

   state      GINI
6     DF  0.000000
20    RO  0.127922
17    PR  0.131235
5     CE  0.132551
14    PB  0.134084
11    MS  0.134532
23    SC  0.137464
8     GO  0.138104
24    SE  0.140378
25    SP  0.140590
1     AL  0.140823
19    RN  0.144012
18    RJ  0.146672
16    PI  0.149203
7     ES  0.153020
22    RS  0.153786
12    MT  0.154616
4     BA  0.160275
15    PE  0.169153
26    TO  0.173719
3     AP  0.177035
2     AM  0.180262
9     MA  0.187907
10    MG  0.192143
0     AC  0.195495
13    PA  0.208619
21    RR  0.241690

## Medidas estatísitcas

In [ ]:
dados_brasil_covid_filtrados.columns

Index(['index', 'ibgeID', 'date', 'state', 'city', 'totalCases', 'deaths',
       'Municipio', 'ESPVIDA', 'E_ANOSESTUDO', 'T_ANALF18M', 'RDPC', 'IDHM'],
      dtype='object')

In [ ]:
dados_brasil_covid_filtrados.groupby('state') \
                            .agg(CasosTotais = pd.NamedAgg('totalCases', 'sum'),
                                 MortesTotais = pd.NamedAgg('deaths', 'sum'),
                                 MediaESPVIDA = pd.NamedAgg('ESPVIDA', 'mean'),
                                 MediaE_ANOSESTUDO = pd.NamedAgg('E_ANOSESTUDO', 'mean'),
                                 MediaT_ANALF18M = pd.NamedAgg('T_ANALF18M', 'mean'),
                                 Mediana_IDHM = pd.NamedAgg('IDHM', 'median'),
                                 Mediana_RDPC = pd.NamedAgg('RDPC', 'median'),
                                 DP_RDPC = pd.NamedAgg('RDPC', 'std')) \
                            .reset_index()

   state  CasosTotais  MortesTotais  ...  Mediana_IDHM  Mediana_RDPC     DP_RDPC
0     AC        86644          1776  ...        0.5885       313.705  127.780499
1     AL       225064          5610  ...        0.5625       233.440   79.124345
2     AM       410367         13421  ...        0.5640       227.585   98.250134
3     AP       119540          1877  ...        0.6410       402.440  133.018963
4     BA      1157427         24835  ...        0.5890       272.860  101.927806
5     CE       896739         23192  ...        0.6120       256.840   76.335807
6     DF       440734          9455  ...        0.8240      1715.110         NaN
7     ES       528198         11493  ...        0.6835       533.375  203.473289
8     GO       708319         19994  ...        0.6970       573.815  148.262560
9     MA       329943          9417  ...        0.5720       217.650   90.115351
10    MG      1890002         48349  ...        0.6700       475.230  173.077762
11    MS       346471          8617  ...        0.6830       588.945  147.065926
12    MT       469491         12218  ...        0.6860       550.290  165.772991
13    PA       564009         15767  ...        0.5830       279.190  119.240295
14    PB       411997          8851  ...        0.5830       263.840   92.074926
15    PE       577115         18294  ...        0.5930       271.360  117.490310
16    PI       305007          6737  ...        0.5650       229.600   76.019439
17    PR      1333380         33317  ...        0.7060       592.270  150.286289
18    RJ       995266         57388  ...        0.7125       618.330  217.600292
19    RN       352895          6982  ...        0.6060       285.210   98.946556
20    RO       254264          6304  ...        0.6430       466.855  123.200293
21    RR       113928          1789  ...        0.6240       329.220  161.370173
22    RS      1266273         32574  ...        0.7170       714.125  207.996885
23    SC      1085503         17451  ...        0.7360       768.810  199.720910
24    SE       270472          5853  ...        0.5920       282.400  105.977056
25    SP      3918793        134320  ...        0.7380       686.890  197.398270
26    TO       204350          3386  ...        0.6390       347.030  132.179224

[27 rows x 9 columns]