# Exemplos NPS e Bolsa de valores

## Módulos

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from scipy.stats import f_oneway

## Dados

In [5]:
dados_nps = pd.read_csv('nps_example.csv', sep = ';')

In [8]:
dados_bolsa = pd.read_csv('dados_bolsa.csv', sep = ';', decimal = ',')

## Análise NPS

- Verificar se todas as respostas estão completas

In [13]:
dados_nps.groupby('response_status') \
         .size() \
         .to_frame('n') \
         .reset_index()

  response_status     n
0        Complete  2281
1      Incomplete   265
2      Terminated    33

In [14]:
dados_nps[dados_nps['nps_score'].isnull()]

            id response_status  ... nps_score  gender
17    11706467      Incomplete  ...       NaN     NaN
31    11706938      Incomplete  ...       NaN     NaN
32    11706979      Incomplete  ...       NaN     NaN
43    11707426      Incomplete  ...       NaN     NaN
48    11707719      Incomplete  ...       NaN     NaN
...        ...             ...  ...       ...     ...
2546  13093216      Incomplete  ...       NaN     NaN
2556  13278063      Incomplete  ...       NaN     NaN
2570  13565327        Complete  ...       NaN  Female
2572  13601847      Incomplete  ...       NaN     NaN
2575  13652344      Incomplete  ...       NaN     NaN

[298 rows x 6 columns]

- Filtrar somente respostas completas

In [19]:
dados_nps_filtrados = dados_nps[(dados_nps['response_status'] == 'Complete') & \
                                (dados_nps['nps_score'].notna())]

- Análise descritiva

In [21]:
dados_nps_filtrados.groupby('age') \
                   .agg(media_nps = pd.NamedAgg('nps_score', 'mean'),
                        dp_nps = pd.NamedAgg('nps_score', 'std'),
                        n = pd.NamedAgg('nps_score', 'size')) \
                   .reset_index()

     age  media_nps    dp_nps    n
0  18-24   9.464539  1.116275  282
1  25-34   9.694828  0.957639  580
2  35-44   9.707612  0.979501  578
3  45-54   9.719039  0.928254  541
4  55-64   9.733871  0.923020  248
5  65-74   9.423077  1.361560   26
6    75+   8.000000  0.000000    2

- Filtrar os 75+, pq somente possui 2 linhas

In [23]:
dados_nps_filtrados_aj = dados_nps_filtrados[dados_nps_filtrados['age'] != '75+']

In [24]:
dados_nps_filtrados_aj.groupby('age') \
                      .agg(media_nps = pd.NamedAgg('nps_score', 'mean'),
                           dp_nps = pd.NamedAgg('nps_score', 'std'),
                           n = pd.NamedAgg('nps_score', 'size')) \
                      .reset_index()

     age  media_nps    dp_nps    n
0  18-24   9.464539  1.116275  282
1  25-34   9.694828  0.957639  580
2  35-44   9.707612  0.979501  578
3  45-54   9.719039  0.928254  541
4  55-64   9.733871  0.923020  248
5  65-74   9.423077  1.361560   26

- Teste f

In [27]:
dados_18_24 = dados_nps_filtrados_aj[dados_nps_filtrados_aj['age'] == '18-24']['nps_score']
dados_25_34 = dados_nps_filtrados_aj[dados_nps_filtrados_aj['age'] == '25-34']['nps_score']
dados_35_44 = dados_nps_filtrados_aj[dados_nps_filtrados_aj['age'] == '35-44']['nps_score']
dados_45_54 = dados_nps_filtrados_aj[dados_nps_filtrados_aj['age'] == '45-54']['nps_score']
dados_55_64 = dados_nps_filtrados_aj[dados_nps_filtrados_aj['age'] == '55-64']['nps_score']
dados_65_74 = dados_nps_filtrados_aj[dados_nps_filtrados_aj['age'] == '65-74']['nps_score']

In [28]:
f_oneway(dados_18_24, 
         dados_25_34, 
         dados_35_44, 
         dados_45_54,
         dados_55_64,
         dados_65_74)

F_onewayResult(statistic=3.5221660981040768, pvalue=0.0035606861304276695)

## Análise correlação bolsa

- Filtrar missings

In [31]:
dados_bolsa[dados_bolsa.isnull()]

     data  petr4  bbdc3  vale5  ambv4  itub4
0     NaN    NaN    NaN    NaN    NaN    NaN
1     NaN    NaN    NaN    NaN    NaN    NaN
2     NaN    NaN    NaN    NaN    NaN    NaN
3     NaN    NaN    NaN    NaN    NaN    NaN
4     NaN    NaN    NaN    NaN    NaN    NaN
...   ...    ...    ...    ...    ...    ...
1773  NaN    NaN    NaN    NaN    NaN    NaN
1774  NaN    NaN    NaN    NaN    NaN    NaN
1775  NaN    NaN    NaN    NaN    NaN    NaN
1776  NaN    NaN    NaN    NaN    NaN    NaN
1777  NaN    NaN    NaN    NaN    NaN    NaN

[1778 rows x 6 columns]

In [32]:
dados_bolsa_filtrados = dados_bolsa.dropna()

- Correlação

In [33]:
dados_bolsa_filtrados.corr()

          petr4     bbdc3     vale5     ambv4     itub4
petr4  1.000000  0.539247  0.724023  0.392074  0.593834
bbdc3  0.539247  1.000000  0.592143  0.470529  0.778506
vale5  0.724023  0.592143  1.000000  0.482919  0.642838
ambv4  0.392074  0.470529  0.482919  1.000000  0.488886
itub4  0.593834  0.778506  0.642838  0.488886  1.000000

In [35]:
corr = dados_bolsa_filtrados.corr()

In [36]:
corr.style.background_gradient(cmap='coolwarm').set_precision(2)