# Exemplo teste AB

## Carregar módulos

In [1]:
! sudo pip install scipy==1.7.1

Collecting scipy==1.7.1
  Downloading scipy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 42 kB/s
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy==1.7.1) (1.19.5)
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed scipy-1.7.1

In [2]:
import numpy as np
import pandas as pd
from scipy import stats as st

## Carregar dados

In [4]:
dados_ab = pd.read_csv('exampleDataABtest.csv')

In [5]:
dados_ab.head()

  group                 time  clickedTrue
0     A  2016-06-02 02:17:53            0
1     A  2016-06-02 03:03:54            0
2     A  2016-06-02 03:18:56            1
3     B  2016-06-02 03:23:43            0
4     A  2016-06-02 04:04:00            0

## Análises

In [6]:
dados_ab.groupby('group') \
        .agg(media_cliques = pd.NamedAgg('clickedTrue', 'mean'),
             dp_cliques = pd.NamedAgg('clickedTrue', 'std'),
             n = pd.NamedAgg('clickedTrue', 'count')) \

       media_cliques  dp_cliques    n
group
A               0.04    0.196155  500
B               0.08    0.271565  500

In [7]:
grA = dados_ab[dados_ab['group'] == 'A']['clickedTrue']
grB = dados_ab[dados_ab['group'] == 'B']['clickedTrue']

In [10]:
st.ttest_ind(a=grA, b=grB, alternative='less')

Ttest_indResult(statistic=-2.669938469060931, pvalue=0.003854891993757974)