# Exemplos testes *t*

## Carregar módulos

In [1]:
! sudo pip install scipy==1.7.1

Collecting scipy==1.7.1
  Downloading scipy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 44 kB/s
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy==1.7.1) (1.19.5)
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed scipy-1.7.1

In [2]:
import numpy as np
import pandas as pd
from scipy import stats as st

## Carregar dados

In [3]:
dados_profs = pd.read_csv('salarios_profs.csv', 
                          sep = ';', 
                          decimal = ',', 
                          encoding = 'latin1')

In [4]:
dados_profs.shape

(25311, 13)

In [5]:
dados_profs.head()

                            NOME  ... SALARIO_MENSAL_LIQUIDO
0               Abel Elias Rahal  ...               17584.07
1                 Abel Lavorenti  ...               38598.04
2      Abelardo Cecilio de Souza  ...                7317.24
3                Abib Salim Cury  ...               10064.15
4  Abidias Lourenco de Alcantara  ...                5389.03

[5 rows x 13 columns]

## Teste t 1 grupo

In [16]:
dados_profs_filtrados = dados_profs[(dados_profs['FUNCAO'] == 'Professor Titular') & \
                                    (dados_profs['JORNADA'] == 'RDIDP') & \
                                    (dados_profs['UNID_ORGAO'] == 'ICMC')]

In [17]:
dados_profs_filtrados = dados_profs_filtrados[['UNID_ORGAO', 'SALARIO_MENSAL_LIQUIDO']].reset_index(drop=True)

In [18]:
dados_profs_filtrados.groupby('UNID_ORGAO') \
                     .agg(media_salarial = pd.NamedAgg('SALARIO_MENSAL_LIQUIDO', 'mean'),
                          dp_salarial = pd.NamedAgg('SALARIO_MENSAL_LIQUIDO', 'std'),
                          n = pd.NamedAgg('SALARIO_MENSAL_LIQUIDO', 'count')) \
                     .reset_index()

  UNID_ORGAO  media_salarial  dp_salarial   n
0       ICMC    23877.174412  7878.579182  34

In [9]:
st.ttest_1samp(a=dados_profs_filtrados['SALARIO_MENSAL_LIQUIDO'], 
               popmean=20000, 
               alternative = 'greater')

Ttest_1sampResult(statistic=2.8695043816953416, pvalue=0.003559845465165561)

## Teste t dois grupos

In [20]:
dados_profs_filtrados = dados_profs[(dados_profs['FUNCAO'] == 'Professor Titular') & \
                                    (dados_profs['JORNADA'] == 'RDIDP') & \
                                    (dados_profs['UNID_ORGAO'].isin(['FEA', 'ICMC']))]

In [21]:
dados_profs_filtrados = dados_profs_filtrados[['UNID_ORGAO', 'SALARIO_MENSAL_LIQUIDO']].reset_index(drop=True)

In [22]:
dados_profs_filtrados.groupby('UNID_ORGAO') \
                     .agg(media_salarial = pd.NamedAgg('SALARIO_MENSAL_LIQUIDO', 'mean'),
                          dp_salarial = pd.NamedAgg('SALARIO_MENSAL_LIQUIDO', 'std'),
                          n = pd.NamedAgg('SALARIO_MENSAL_LIQUIDO', 'count')) \
                     .reset_index()

  UNID_ORGAO  media_salarial  dp_salarial   n
0        FEA    23604.992254  6177.725231  71
1       ICMC    23877.174412  7878.579182  34

In [13]:
gr1 = dados_profs_filtrados[dados_profs_filtrados['UNID_ORGAO'] == 'FEA']['SALARIO_MENSAL_LIQUIDO']
gr2 = dados_profs_filtrados[dados_profs_filtrados['UNID_ORGAO'] == 'ICMC']['SALARIO_MENSAL_LIQUIDO']

In [14]:
st.ttest_ind(a=gr1, b=gr2, alternative='two-sided')

Ttest_indResult(statistic=-0.19279107673771528, pvalue=0.8475022218713747)